.contRecipes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contRecipes h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border: 2px solid rgb(95, 93, 93);
  margin: 5px;
  padding: 5px;
}

.recipe p {
  margin-bottom: 15px;
}
