.contNewRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.contNewRecipe form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f8f8f8;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#label {
  margin-bottom: 3px;
}

.FormButton {
  padding: 5px;
}
